#background-header{
    width: 100%;
    height: 20vh;
    background-color: #019688;
}
#background-body{
    height: 80vh;
    background-color: #e0e0ee;
}
#chat-container{
    position: fixed;
    top: 0%;
    bottom: 0%;
    margin: auto;
    width: 70%;
    height: 90%;
    background-color: #fff;
    
    box-shadow: 2px 2px 15px #ccc;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}
#sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    border-right: 1px solid #ccc;
    #sidebar-header{
        flex-basis: 84px;
        background-color: #eeeeee;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 300;
    }
    #searchBox{
        flex-basis: 50px;
        background-color: #fbfbfb;
        border-bottom: 1px solid #e1e4e5;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            width: calc(90% - 30px);
            border: 1px solid #f7f7f7;
            border-radius: 7px;
            height: 70%;
            padding-left: 30px;
            color: #9a9a9a;
            &::placeholder{
                color: #9a9a9a;
                font-weight: 100;
            }
        }
    }
}

#sidebar-header a{
    font-size: 15px;
}

#chatContainer {
    position: fixed;
    top: 0%;
    bottom: 0%;
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: #fff;
    right: 0px;
    left: 0px;
    box-shadow: -1px 1px 5px rgba(#333, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  
    app-sidebar {
      flex-basis: 30%;
      display: block;
      height: 100%;
      border-right: 1px solid #e8e8e8;
    }
  
    #chat {
      background-color: #f7f9fa;
      flex-grow: 1;
  
      #chatPlaceholder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
  
        h2 {
          font-size: 35px;
          font-weight: normal;
          color: #555555;
        }
        .seperator {
          width: 50%;
          border-top: 1px solid #eaeaea;
          margin: 30px 0px;
        }
        p {
          text-align: center;
        }
      }
    }
  }
    
